[Unit]
Description=Microservice for managing runfolders
After=nginx.service

[Service]
EnvironmentFile=-/etc/arteria/runfolder/runfolder.conf
User=runfolder
PIDFile=/var/run/runfolder.pid
ExecStart=/usr/bin/runfolder-ws --port=${DEFAULTPORT} --config=/etc/arteria/runfolder
Restart=always
StandardOutput=journal

[Install]
WantedBy=multi-user.target
