---
# List of monitored directories, can be relative paths
monitored_directories:
    - /data/testarteria1/mon1
    - /data/testarteria1/mon2

# By default, runfolders can't be created via the API, but
# that can be enabled (for integration tests). This
# also enables adding the runfolder-ready marker through the API.
can_create_runfolder: False

# An Illumina machine will write a RTAComplete.txt file when it has
# finished the sequencing process. But when a user manually moves
# the runfolder to the processing directory one can not guaranty
# that all files have been moved when the RTAComplete.tx exist in
# the new directory. The completed_marker_file can be changed to
# another file, a file which for example will signal that the
# transfer process has completed.
completed_marker_file:
    - RTAComplete.txt
    - SequencingComplete.txt

# It seems that sometimes the completed_marker_files are not a
# reliable indicator that nothing more will be modified or written
# in the sequencing runfolder. Therefore a grace period can be
# defined here. The modification time of each of the files specified
# in completed_marker_files has to be longer ago that the amount of
# minutes specified here
completed_marker_grace_minutes: 15
